<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeneticSharp" version="1.0.100" targetFramework="net462" />
  <package id="HelperSharp" version="0.0.4.2" targetFramework="net462" />
  <package id="morelinq" version="2.3.0" targetFramework="net462" />
  <package id="SmartThreadPool.dll" version="2.2.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>